@page
@model WebApp.Pages.JobApplications.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>JobApplication</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type=hidden asp-for="JobApplication.JobOfferId"/>
            <input type=hidden asp-for="JobApplication.UserId"/>
            <input type=hidden asp-for="JobApplication.FileId"/>
            <div class="form-group">
                @if (Model.JobApplication != null)
                {
                    <input type="submit" value="Create" class="btn btn-primary" />
                }
            </div>
            @Html.ValidationMessage("Error", new{@class="text-danger"})
        </form>
    </div>
</div>
<div>
    <a asp-page="/JobOffers/Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
