@page
@model WebApp.Pages.JobOffers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>JobOffer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JobOffer.employerId" class="control-label"></label>
                <input asp-for="JobOffer.employerId" class="form-control" />
                <span asp-validation-for="JobOffer.employerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobOffer.contentLocation" class="control-label"></label>
                <input asp-for="JobOffer.contentLocation" class="form-control" />
                <span asp-validation-for="JobOffer.contentLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobOffer.localization" class="control-label"></label>
                <input asp-for="JobOffer.localization" class="form-control" />
                <span asp-validation-for="JobOffer.localization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobOffer.tags" class="control-label"></label>
                <input asp-for="JobOffer.tags" class="form-control" />
                <span asp-validation-for="JobOffer.tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobOffer.expirationDate" class="control-label"></label>
                <input asp-for="JobOffer.expirationDate" class="form-control" />
                <span asp-validation-for="JobOffer.expirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
