@page
@model WebApp.Pages.JobOffers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>JobOffer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="JobOffer.Id" />
            <input type="hidden" asp-for="JobOffer.EmployerId" />
            <input type="hidden" asp-for="JobOffer.FileId" />
            <input type="hidden" asp-for="JobOffer.AddedDate" />
            <div class="form-group">
                <label asp-for="JobOffer.Description" class="control-label"></label>
                <input asp-for="JobOffer.Description" class="form-control" />
                <span asp-validation-for="JobOffer.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobOffer.Localization" class="control-label"></label>
                <input asp-for="JobOffer.Localization" class="form-control" />
                <span asp-validation-for="JobOffer.Localization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobOffer.Tags" class="control-label"></label>
                <input asp-for="JobOffer.Tags" class="form-control" />
                <span asp-validation-for="JobOffer.Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobOffer.ExpirationDate" class="control-label"></label>
                <input asp-for="JobOffer.ExpirationDate" class="form-control" />
                <span asp-validation-for="JobOffer.ExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobOffer.EmployementType" class="control-label"></label>
                <select asp-for="JobOffer.EmployementType" asp-items="Html.GetEnumSelectList<WebApp.Models.EmployementType>()" class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="JobOffer.EmployementType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
